<%
  require 'rexml/rexml'
  require 'rexml/document'
  if !@snapshot.nil? && @snapshot.measure('j3c_data_set')
    metric_ref = metric('j3c_data_set')
    measure_ref = measure('j3c_data_set')
%>
<%
puts measure_ref.data.to_s
%>
<style>

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
<div id="j3c_chart">
</div>
<script language="javascript">
  (function () {

    var margin = {top: 20, right: 20, bottom: 30, left: 40};
    var width = 500 - margin.left - margin.right;
    var height = 270 - margin.top - margin.bottom;

    var formatPercent = d3.format(".0%");

    var x = d3.scale.ordinal().rangeRoundBands([0, width], .1, 1);
    var y = d3.scale.linear().range([height, 0]);

    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    var yAxis = d3.svg.axis().scale(y).orient("left").tickFormat(formatPercent);

    var svg = d3.select("#j3c_chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Coverage");

    var JSONData = <%= measure_ref.data.to_s -%>;
  })();
</script>
<%
  end
%>
